<h1>我新增的景點</h1>

<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="search_attraction_name" placeholder="景點名稱" value="<%= params[:search_name] %>">
  </div>
  <button type="button" class="btn btn-default" style="margin-bottom: 15px;" id="search_attraction" data-search="user">搜尋</button>
</form>


<div id="attraction_div"><%= render 'attractions_table' %></div>

